@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
    Layout = "~/Pages/Shared/_Register.cshtml";

}
<p class="login-box-msg">Register a new Account</p>
<div asp-validation-summary="All" class="text-danger"></div>

<form id="registrationForm" method="post">
    <div class="input-group mb-3">
        <input type="text" class="form-control" asp-for="Input.Fullname" placeholder="Full name" onkeyup="myUppercase()">
        <div class="input-group-append">
            <div class="input-group-text">
                <span class="fas fa-user"></span>
            </div>
        </div>
    </div>
    <div class="input-group mb-3">
        <input type="email" class="form-control" asp-for="Input.Email" placeholder="Email">
        <div class="input-group-append">
            <div class="input-group-text">
                <span class="fas fa-envelope"></span>
            </div>
        </div>
    </div>
    <div class="input-group mb-3">
        <input type="text" class="form-control" asp-for="Input.PhoneNumber" placeholder="Phone Number">
        <div class="input-group-append">
            <div class="input-group-text">
                <span class="fas fa-phone"></span>
            </div>
        </div>
    </div>
    <div class="input-group mb-3">
        <input type="password" class="form-control" asp-for="Input.Password" placeholder="Password">
        <div class="input-group-append">
            <div class="input-group-text">
                <span class="fas fa-lock"></span>
            </div>
        </div>
    </div>
    <div class="input-group mb-3">
        <input type="password" class="form-control" asp-for="Input.ConfirmPassword" placeholder="Retype password">
        <div class="input-group-append">
            <div class="input-group-text">
                <span class="fas fa-lock"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-8">
            <div class="icheck-primary">
                <input type="checkbox" id="agreeTerms" name="terms" value="agree">
                <label for="agreeTerms">
                    I agree to the <a href="#">terms</a>
                </label>
            </div>
        </div>
        <!-- /.col -->
        <div class="col-4">
            <button type="submit" class="btn btn-primary btn-block">Register</button>
        </div>
        <!-- /.col -->
    </div>
</form>


<a asp-page="./Login" class="text-center">I already have an Account</a>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const form = document.getElementById("registrationForm");
            const agreeTermsCheckbox = document.getElementById("agreeTerms");

            form.addEventListener("submit", function (event) {
                if (!agreeTermsCheckbox.checked) {
                    event.preventDefault(); // Prevent form submission
                    toastr.error('Please agree to the terms before submitting.')
                }
                // You can add additional validation or submit logic here if needed.
            });
        });
    </script>
}
